[package]
name = "kuutamod"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tempfile = "3"
reqwest = { version = "0.11.14", features = ["json"], default-features = false }
anyhow = "1.0.68"
tokio = { version = "1.25.0", features = ["full"] }
hyperlocal = "0.8"
futures-util = "0.3.25"
hyper = { version = "0.14.23", features = [ "server" ] }
prometheus = "0.13.3"
lazy_static = "1.4.0"
nix = "0.26.2"
serde = { version = "1.0.152", features = ["derive"] }
serde_derive = "1.0.151"
toml = "0.7.0"
serde_json = "1.0.91"
near-primitives = "0.15.0"
log = { version = "0.4.17", features = ["std"] }
clap = { version = "4.1.1", features = ["derive", "env"] }
regex = "1"
ctrlc = { version = "3.0", features = ["termination"] }
# FIXME use github version for toml support
format_serde_error = { version = "0.3.0", features = [ "colored", "serde_json" ], default-features = false, git = "https://github.com/AlexanderThaller/format_serde_error" }

[[bin]]
name = "kuutamod"
path = "src/bin/kuutamod.rs"

[[bin]]
name = "kuutamoctl"
path = "src/bin/kuutamoctl.rs"
