name: Build near-cli
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
      # We cannot build this in garnix since garnix has a sandbox enabled.
      - name: Nix build
        run: nix build .#near-cli
