name: "Update neard"
on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron:  '51 2 * * *'
permissions:
  pull-requests: write
jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
        with:
          nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixpkgs-unstable.tar.gz
          extra_nix_config: |
            extra-substituters = https://cache.garnix.io
            extra-trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g=
      - name: Update neard stable
        run: nix run .#nix-update -- --override-filename nix/pkgs/neard/stable.nix --version-regex '^(\d+\.\d+\.\d+)$' --flake neard
      - name: Update neard unstable
        run: nix run .#nix-update -- --override-filename nix/pkgs/neard/unstable.nix --version-regex '^(\d+\.\d+\.\d+(-rc.\d+)?)$' --flake --version=unstable neard-unstable
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Upgrade neard
          branch: neard-updates
          delete-branch: true
          title: Upgrade neard
          body: |
            See changelog https://github.com/near/nearcore/releases

      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
